/* Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Lobster&family=Manrope&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Lobster&family=Manrope&family=Open+Sans:wght@400;600;700&family=Poppins:wght@600;700&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Lobster&family=Manrope&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&family=Manrope&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&family=Manrope&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&family=Manrope:wght@400;700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Header section style */
.header {
    color: #3A3A3A;
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}

.website-title {
    font-size: 24px;
    margin-top: 87px;
}

nav ul {
    margin-top: 95px;
}

nav ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    list-style-type: none;
    display: inline;
    padding-right: 34px;
}

/* Navigation part end */

.header-main {
    margin: 50px 132px 69px 120px;
}

.header-container {
    display: flex;
    color: #3A3A3A;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.header-info {
    margin-right: 131px;
}

.header-title {
    font-size: 52px;
    margin-bottom: 16px;
}

.header-description {
    margin: 0 77px 16px 0;
    font-weight: 600;
    font-size: 16px;
}

.fa-arrow-right {
    padding-left: 8px;
}

.primary-btn {
    background: #E02C6D;
    border-radius: 41px;
    border-style: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 24px 10px 24px;
}

.header-image {
    margin-right: 33px;
}

/* Header main part end */

.logos {
    margin: 69px 165px 100px 165px;
}

.logo {
    width: 986.47px;
    height: 39.61px;
    border: 1px solid #AAAAAA;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 36px 62px 34px 62px;
}

/* Logo part end */

/* Main part start */
.main {
    margin: 0 197px 100px 197px;
}

.section-title {
    margin: 0 0 30px 0;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.items {
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.item {
    margin: 17px 15px 16px 14px;
    ;
}

.item img {
    width: 100%;
}

.item-name {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
    padding-bottom: 6px;
}

.item-price {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.item-star {
    padding: 8px 8px 8px 0;
}

.fa-star,
.fa-star-half-stroke {
    color: #FB8200;
}

span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
    padding: 5px 13px 5px 0;
}

.item-description {
    margin: 0 119px 17px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}

.button {
    text-align: right;
}

.secondary-btn {
    margin-top: 50px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    border-style: none;
    background: none;
}

/* Main part style end */

.future-product {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0 165px 100px 165px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}

.future-product img {
    border-radius: 7px;
}

.fp-section-title {
    font-size: 38px;
    color: #0A0826;
    margin: 0;
    padding-bottom: 16px;
}

.fp-section-description {
    margin: 0;
    font-size: 16px;
    color: #6C6C6C;
    padding-bottom: 16px;
    padding-right: 100px;
}

.third-btn {
    background: #E02C6D;
    border-style: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 24px 10px 24px;
}

/* Future Product part end */

.footer {
    background: #0A0826;
    text-align: center;
}

.footer-info {
    padding: 50px 589px 50px 589px;
}

.footer-section-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 3px;
}

.footer-section-description {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
    margin: 0;
    padding-bottom: 17px;
}

.icon {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hide {
    display: none;
}

/* Footer section end */

/* Media Queries for Mobile*/
@media screen and (max-width: 577px) {
    /* Responsive header-main section start */

    /* Responsive header-main section end */
    /* Responsive Logo section start */


    /* Responsive Logo section end */
    /* Responsive main section start */
    .main {
        margin: 0 16px;
    }

    .section-title {
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .item-description {
        margin: 0 119px 27px 0;
    }

    /* Responsive main section end */

    /* Responsive Future Product section start */
    .future-product {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin: 0;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
    }

    .content img {
        width: 299px;
        height: 188px;
        margin: 30px 31px 50px 31px;
    }

    .fp-section-info {
        padding: 0;
        text-align: center;
    }

    .fp-section-title {
        font-size: 24px;
        padding: 50px 20px 15px 29px;
    }

    .fp-section-description {
        width: auto;
        height: 88px;
        padding: 0 16px 65px 15px;
    }

    /* Responsive Future Product section end */

    /* Responsive Footer section start */
    .footer-info {
        padding: 50px 68px;
    }

    .footer-section-title {
        font-size: 16px;
    }

    .footer-section-description {
        font-size: 12px;
        padding: 0 5px 10px 5px;
    }

    /* Responsive Footer section end */
}